<h1>
  <%= @author.fullname %>
</h1>

<p>
  Age:
  <strong><%= @author.age %></strong>
  <hr/>

  Created_at
  <strong><%= @author.created_at %></strong>
  <hr/>

  Updated_at:
  <strong><%= @author.updated_at %></strong>
  <hr/>

  <h1>Author posts</h1>
    <% @author.posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
</p>
