<h1>
  <%= @post.title %>
</h1>

<p>
  Content:
  <strong><%= @post.content %></strong>
  <hr/>
  Author:
  <% if @post.author %>
    <strong><%= @post.author.fullname %></strong>
  <% end %>
  <hr/>
</p>
<h1>Comments</h1>
<ul>
<%= render 'comments/index' %>
<%= render 'comments/form' %>
