<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path do %>
  <%= image_tag("blog.png", height: '120', width: '120') %>
<% end %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to root_path, class: "nav-link" do %>
      <span class="sr-only">(current)</span>
    <% end %>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Posts
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'New', new_post_path, class: 'dropdown-item' %>
      <%= link_to 'Index', posts_path, class: 'dropdown-item' %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Authors
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <% Author.all.each do |author| %>
        <%= link_to author.fullname, author_path(author.id), class: 'dropdown-item' %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to 'New', new_author_path, class: 'dropdown-item' %>
      <%= link_to 'Index', authors_path, class: 'dropdown-item' %>
    </div>
  </li>

</ul>
</div>
</nav>
